# host config for strapi
HOST_URL=modified
APP_PORT=modified
DB_PORT=modified

#database config for strapi
DATABASE_NAME=smodified
DATABASE_USER=modified
DATABASE_PASSWORD=modified

#User config
USER_USERNAME=modified
USER_EMAIL=modified
USER_PASSWORD=modified
USER_TOKEN=modified